node_modules
vendor
.git
.env
.phpunit.result.cache
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
storage/logs/*.log
public/build
public/hot
public/storage
tests
phpunit.xml
.editorconfig
.gitattributes
README.md
Docker/
docker-compose.yml
Dockerfile
.dockerignore
